<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FMUtils.KeyboardHook" version="1.0.140.2145" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.43" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2022.1.0" targetFramework="net48" />
  <package id="MediaInfo.Native" version="21.9.1" targetFramework="net48" />
  <package id="MediaInfo.Wrapper" version="21.9.2" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net462" />
  <package id="NAudio" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Octokit" version="0.51.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
</packages>