<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net462" />
  <package id="MediaInfo.Native" version="17.12" targetFramework="net462" />
  <package id="MediaInfo.Wrapper" version="17.12.0" targetFramework="net462" />
</packages>