<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Buttplug" version="2.0.6" targetFramework="net48" />
  <package id="ButtplugRustFFI" version="2.0.5" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.19.1" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.43" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2022.1.0" targetFramework="net48" />
  <package id="MediaInfo.Native" version="19.9.0" targetFramework="net462" />
  <package id="MediaInfo.Wrapper" version="19.9.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="NAudio" version="1.10.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net462" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.1" targetFramework="net462" />
</packages>