<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Buttplug.Client" version="0.2.1.624-master" targetFramework="net462" />
  <package id="Buttplug.Core" version="0.2.1.624-master" targetFramework="net462" />
  <package id="FontAwesomeDotNet" version="1.1.1" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.6.16" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net462" />
  <package id="MediaInfo.Native" version="17.12" targetFramework="net462" />
  <package id="MediaInfo.Wrapper" version="17.12.0" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="NJsonSchema" version="9.10.19" targetFramework="net462" />
  <package id="NLog" version="4.5.7" targetFramework="net462" />
  <package id="Octokit" version="0.29.0" targetFramework="net462" />
  <package id="SuperSocket.ClientEngine" version="0.8.0.13" targetFramework="net462" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net462" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net462" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net462" />
</packages>