<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.5.0" targetFramework="net47" />
  <package id="Accord.Audio" version="3.5.0" targetFramework="net47" />
  <package id="Accord.DirectSound" version="3.5.0" targetFramework="net47" />
  <package id="Accord.Extensions.Core" version="3.0.1" targetFramework="net462" />
  <package id="Accord.Extensions.Imaging.AForgeInterop" version="3.0.1" targetFramework="net462" />
  <package id="Accord.Extensions.Imaging.Algorithms" version="3.0.1" targetFramework="net462" />
  <package id="Accord.Extensions.Math" version="3.0.1" targetFramework="net462" />
  <package id="Accord.Extensions.Vision" version="3.0.1" targetFramework="net462" />
  <package id="Accord.Imaging" version="3.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Accord.MachineLearning" version="3.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Accord.Math" version="3.5.0" targetFramework="net47" />
  <package id="Accord.Statistics" version="3.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Accord.Video" version="3.5.0" targetFramework="net47" />
  <package id="Accord.Video.FFMPEG" version="3.5.0" targetFramework="net47" />
  <package id="Accord.Vision" version="3.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="DotImaging.BitmapInterop" version="4.8.3" targetFramework="net462" />
  <package id="DotImaging.GenericImage" version="4.8.3" targetFramework="net462" />
  <package id="DotImaging.Primitives2D" version="4.8.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net47" />
  <package id="SharpDX" version="3.1.1" targetFramework="net47" />
  <package id="SharpDX.DirectSound" version="3.1.1" targetFramework="net47" />
</packages>